*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: hsl(234, 29%, 20%);
}
.container{
    width: 900px;
    height: 600px;
    margin: auto ;
    margin-top: 100px;
    margin-bottom: 100px;

border: 1px solid;
border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 10px;
    background-color: white;
    box-sizing: border-box;
    
   
}
.item{
    font-size: smaller;
display: flex;
align-items: center;

}

.form{
    color:hsl(234, 29%, 20%) ;
    padding: 20px 40px ;
    margin-bottom: 10px;
}


h1{
    
    font-size: 40px;
    margin-bottom: 10px;
    color:hsl(234, 29%, 20%) ;
}

.input_field{
    width: 10%;
    height: 10%;
   
  
    
}

.email{
   width: 320px;
   height: 40px;
   border-radius: 5px;
   margin-bottom: 5px;

   font-family: "Roboto";

    

}
.lable{
    font-family: "Roboto";
}
button{
  
    width: 330px;
    height: 40px;
    border-radius: 5px;
    font-family: "Roboto";
    background-color: hsl(234, 29%, 20%);
    color: white;
    text-align: center;
}

img{
    width: 400px;
    padding: 10px;
    
}
